<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">
	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<title>Burger Menu</title>

</head>

<body>

	<img src="/assets/img/cute_burger.jpeg" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="burgerFooter">

		<div class="footer-copyright">
			
		</div>

	</footer>

</body>

</html>